# Dart & Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build output
build/
out/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/*.iml

# macOS
macos/Flutter/ephemeral/

# IDEs
.idea/
*.iml
.vscode/

# System files
.DS_Store
*.log
*.tmp
*.swp
